In [12]:
# df = pd.read_csv(os.path.join(abs_dir, 'scripts/data/boa_reviews_20250608_162800.csv'))

# current_dir = os.getcwd()
# file_path = os.path.join(current_dir, 'scripts', 'data', 'boa_reviews_20250608_162800.csv')

# # Read the CSV file
# df = pd.read_csv(file_path)

df = pd.read_csv(os.path.join(abs_dir, 'scripts/data/boa_reviews_20250608_162800.csv'))
df.head()

,review_text,rating,upvote,date,bank_name,source
0,it's not working,3,0,2025-06-05,Bank of Abyssinia,Google Play
1,"Hello, I’m facing a problem with the BOA Mobil...",1,0,2025-06-03,Bank of Abyssinia,Google Play
2,exceptional,5,0,2025-06-03,Bank of Abyssinia,Google Play
3,BoA Mobile good bank,5,0,2025-06-02,Bank of Abyssinia,Google Play
4,this is worest app 24/7 loading,1,0,2025-06-01,Bank of Abyssinia,Google Play

In [ ]:
pd.set_option('display.max_colwidth', None) # Set max column width to None to display full text in DataFrame

df.head(5)

,review_text,rating,upvote,date,bank_name,source
0,it's not working,3,0,2025-06-05,Bank of Abyssinia,Google Play
1,"Hello, I’m facing a problem with the BOA Mobile app. Every time I enter my phone number and password, the app crashes and shows an error that says “BoaMobile closed because this app has a bug.” I tried updating, reinstalling, and clearing cache, but nothing worked. Please fix this bug in the next update. I really need access to my account. Thank you.",1,0,2025-06-03,Bank of Abyssinia,Google Play
2,exceptional,5,0,2025-06-03,Bank of Abyssinia,Google Play
3,BoA Mobile good bank,5,0,2025-06-02,Bank of Abyssinia,Google Play
4,this is worest app 24/7 loading,1,0,2025-06-01,Bank of Abyssinia,Google Play

In [14]:
# check types 
df.dtypes

review_text    object
rating          int64
upvote          int64
date           object
bank_name      object
source         object
dtype: object

In [ ]:
df.describe() # Describe the DataFrame to get summary statistics

            rating       upvote
count  1044.000000  1044.000000
mean      3.063218    10.039272
std       1.860893    77.112271
min       1.000000     0.000000
25%       1.000000     0.000000
50%       3.000000     1.000000
75%       5.000000     2.000000
max       5.000000  1810.000000

In [16]:
# check for null values in the DataFrame
df.isnull().sum()

review_text    0
rating         0
upvote         0
date           0
bank_name      0
source         0
dtype: int64

### Remove Duplicate Entries

In [ ]:
# Check for duplicated data
dublicated_data = df.duplicated(subset=['review_text', 'rating'], keep=False).sum() #df.duplicated() returns a boolean Series indicating duplicate rows adn sum() counts them
#not count becaause count() counts non-null values and duplicated() is nevernull

print(f'data duplicated: {dublicated_data}')
df[df.duplicated()]

data duplicated: 0

Empty DataFrame
Columns: [review_text, rating, upvote, date, bank_name, source]
Index: []

In [22]:
# remove duplicated data
df.drop_duplicates(subset=['review_text', 'rating'], keep='first', inplace=True)

In [23]:
# change date format from object to 'YYYY-MM-DD' format
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.dtypes

review_text            object
rating                  int64
upvote                  int64
date           datetime64[ns]
bank_name              object
source                 object
dtype: object

In [24]:
df.shape

(911, 6)

# Task 2
Sentiment Analysis - distilbert-base-uncased-finetuned-sst-2-english

In [ ]:
import transfomers #distilbert-base-uncased-finetuned-sst-2-english sentiment analysis